.env
*node_modules/*
schema/db/config.yml
.next
*.DC_Store
*.DS_Store
.DS_Store
pages/.DS_Store
public/images/.DS_Store
public/images/.DS_Store

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
