@import '../config'
@import '../mixins'

.contentVideo
  +border
  display: flex
  margin-bottom: $padding-2
  margin-top: $padding-1
  padding: $padding-2
  width: 100%

  video
    aspect-ratio: 16 / 9

  &__title
    margin-bottom: $padding-2 !important

  &__player
    +box-shadow
    border-radius: 10px

@include respond-to('medium')

  .contentVideo
    margin-bottom: $padding-3
    margin-top: $padding-2
    padding: $padding-3

    &__title
      margin-bottom: $padding-3 !important
